@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
  }
  
  body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
  }
  
  /* Header */
  header {
    background-image: url(../img/connects.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: transp 2.5s;
  }
  @keyframes transp{
    from{
      opacity: 0;
    }
    to{
      background-color: #555;
      opacity: 1;
    }
  }
  header .intro-text{
    animation: slide 2s;
  }
  @keyframes slide{
    from{
      transform: translateX(-90px);
    }
  
  }
  header .intro-text p, header .intro-text h1 {
    color: #ecece2;
  }
  
  header .intro-text h1 {
    text-transform: uppercase;
  }
  
  header .intro-text p {
    font-style: italic;
  }
  @media all and (min-width:350px){
    header .intro-text h1{
      font-size: 1.7em;
    }
    header .intro-text p{
      font-size: 1.4em;
      width: 330px;
    }
  }
  @media all and (min-width:560px){
    header .intro-text h1{
      font-size: 2em;
    }
    header .intro-text p{
      font-size: 1.3em;
      width: 400px;
    }
  }
  @media all and (min-width: 980px){
    header .intro-text h1 {
      margin: 0px;
      font-size: 2.5em;
    }
    
    header .intro-text p {
      font-size: 1.6em;
      width: 600px;
    }
  }
  /*Content*/
  
  .container{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c7c7af;
    position: sticky;
    top: 0px;
    background-color: rgb(4, 4, 51);
  }
  .container nav a.active {
    background-color: #e76924;
    color: #fff;
    border-radius: 4px;
  }
  .container ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
  }
  .container nav  a {
    margin: 0 .5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #868686;
    border-radius: 9px;
    background-color: aliceblue;
  }
  .container p{
    text-align: left;
    color: white;
    margin-right: 55rem;
  }
  @media all and (min-width: 350px) {
    .container{
      flex-direction: column;
    }
    .container p{
      margin-right: 0;
    }
  }
  @media all and (min-width: 600px){
    .container{
      flex-direction: row;
    }
    .container p{
      margin-right: 10rem;
    }
  }
  @media all and (min-width:1000px){
    .container p{
      margin-right: 24rem;
    }
  }
  @media all and (min-width:1050px){
    .container p{
      padding-right: 19rem;
    }
  }
  .section {
    background-color:rgb(6, 8, 27);
    padding: 20px;
    text-align: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,3fr); 
    padding: 30px 5% 40px;
    grid-auto-rows: 100px; 
  
  }
  .section h1 {
    font-size: 30px;
    color: wheat;
    justify-content: space-between; 
    align-items: initial; 
    height: 100px;
    display: block;
    grid-column-start: 2; 
    
  }
  .section p {
    color: beige;
    display: block;
    text-align: center;
    grid-column-start: 2; 
  
  }
  
  .cover img{
    border-radius: 50%;
    width: 150px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px 2px rgba(0, 0 , 0, .4);
    font-size: 50px;
  }
  
  /*About */
  
  .about {
    display: flex;
    color: #fff;
    background-color: rgb(6, 8, 27);
  }
  .about .content {
    box-sizing: border-box;
    width: 50vw;
    padding: 2rem;
    display: flex;
  }
  .about .content #exp p{
    width: 50vw;
  }
  .about .content #contato div{
    padding: 7px 4px;   
  }
  .about .content #contato{
    padding-left: 150px;   
  }
  .about .content #contato #sociais{
    display: flex;  
  }
  .about .content #contato #sociais a{
    color: white;
    text-decoration: none;
    margin: 15px;
    border: 3px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  @media all and (min-width:350px){
    .about .content {
      padding: 2rem;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
    .about .content #exp {
      text-align: center;
      align-self: center;
    }
    .about .content #contato{
      text-align: center;
      align-self: center;
      padding-left: 0;
    }
  }
  @media all and (min-width:650px){
    .about .content{
      flex-direction: row;
    }
    .about .content #exp{
      font-size: 15px;
      width: 48%;
    }
  }
  @media all and (min-width: 960px){
    .about .content{
      justify-content: center;
    }
    .about .content #contato div{
      text-align: right;  
    }
    .about .content #contato h1{
      text-align: right;
    }
    .about .content #exp{
      width: 70%;
      text-align: left;
    }
    .about .content #exp h1{
      text-align: left;
    }
  }
  /* Main */
  
  main {
    color: rgb(209, 207, 207);
    background-color: rgb(90, 89, 92);
    padding: 100px 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    text-align: center;
  }
   
  main .service-description {
    grid-column: 1 / 4;
    margin-bottom: 100px;
  }
  
  main .service .circle-icon {
    background-color: #e76924;
    color: #fff;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
  }
  
  main .service .circle-icon:hover{
    animation: crescer 1.5s
  }
  @keyframes crescer{
    50%{
      transform: scale(1.3);
    }
    100%{
      transform: scale(1.0);
    }
  }
  
  main .service .circle-icon .fa {
    font-size: 2em  ;
  }
  main .service .circle-icon .far { 
    font-size: 2em;
  }
  main .service .circle-icon .fas { 
    font-size: 2em;
  }
  
  main .service-description  h1 {
    font-size: 3em;
  }
  
  main .service-description  p {
    color: rgb(209, 207, 207);
    font-style: italic;
  
  }
  main .service p {
    color: rgb(209, 207, 207);
    font-size: 14px;
    line-height: 1.75;
  } 
  main a{
    color: rgb(209, 207, 207);
    text-decoration: none;
  }
  main a:hover{
    color: rgb(43, 42, 42);
    text-decoration: underline;
  }
 
  /* form */
  
  .form{
    display: flex;
    justify-content: center;
    background-color: rgb(90, 89, 92);
  }
  @media all and (min-width:350px){
    .form iframe{
      width: 480px;
    }
  }
  @media all and (min-width:750px){
    .form iframe{
      width: 500px;
    }
  }